.NewPost {
    width: 80%;
    margin: 20px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}
.NewPost input,
.NewPost select {
    height:28px;
    padding:10px;
}
.NewPost input,
.NewPost textarea,
.NewPost select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid rgb(190 190 190);
    outline: none;
    font: inherit;
    margin: auto;
}

.NewPost button {
    border: 1px solid #181818;
    background-color: #181818;
    color:#fff;
    border-radius:6px;
    cursor: pointer;
    margin: 5px 10px;
    padding: 10px 20px;
    font: inherit;   
}

.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #000;
}